*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 20rem;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

fieldset {
  min-width: 0;
  padding: 0;
  border: 0;
  margin: 0;
}

button {
  border: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

textarea {
  resize: vertical;
}

summary {
  cursor: pointer;
}

[hidden] {
  display: none !important;
}
